<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        {{ partial:components/site/head /}}
        {{ yield:meta_tags /}}
    </head>
    <body class="bg-white font-sans leading-normal text-gray-800 scroll-smooth">
        <header class="relative {{ marketing_header_background ?? 'bg-pink-100' }} {{ if show_marketing_header }}h-fit{{ else }}h-40{{ /if }} pb-20" style="min-height:200px;">
            <div class="container max-w-6xl mx-auto px-4 pt-6">

                <div class="flex flex-col gap-8">
                    {{ partial:components/nav/main color="black" /}}
                    {{ if show_marketing_header }}
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-0 sm:mt-16 mb-12">
                            <div>
                                {{ partial:components/heading :heading="marketing_header_title" border="border-slate-900 opacity-20" /}}

                                <div class="prose pb-6">
                                    {{ marketing_header_content }}
                                </div>
                            </div>
                            <div class="relative">
                                {{ svg src="svg/undraw/{marketing_svg_name}.svg" class="w-full absolute -bottom-20" }}
                            </div>
                        </div>
                    {{ /if }}
                </div>
            </div>
            <svg class="absolute bottom-0 left-0 w-full h-32 text-white fill-white" viewBox="0 0 1440 320" preserveAspectRatio="none">
                <path fill-opacity="1" d="M0,96L48,112C96,128,192,160,288,176C384,192,480,192,576,176C672,160,768,128,864,133.3C960,139,1056,181,1152,176C1248,171,1344,117,1392,90.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
            </svg>
        </header>

        {{ template_content }}

        {{ partial:components/site/footer /}}
        {{ partial:components/site/scripts /}}
    </body>
</html>
